body {
    color: #566787;
    background: #f5f5f5;
    font-family: "Varela Round", sans-serif;
}
.form-control:focus {
    border-color: #8464ca;
    box-shadow: 0 0 8px #beace3;
}
.contact-modal {
    width: 600px;
    padding: 50px;
    margin: 30px auto;
}
.contact-modal h4 {
    font-size: 26px;
    display: inline-block;
}
.contact-modal .form-control, .contact-modal .btn  {
    min-height: 38px;
    border-radius: 1px;
    outline: none;
}
.contact-modal .btn-primary {
    min-width: 100px;
    background: #8464ca;
    border: none;
}
.contact-modal .btn-primary:hover {
    background: #6d45c0;
}
.contact-modal .btn-primary:focus {
    box-shadow: 0 0 8px rgba(132, 100, 202, 0.6);
}
.contact-modal .btn-link {
    color: #6d45c0;
}
.contact-modal label {
    opacity: 0.9;
    font-weight: normal;
    font-size: 95%;
}
.contact-modal textarea {
    resize: vertical;
}
.contact-modal.modal-dialog {
    width: 480px;
}
.contact-modal .modal-header {
    padding: 20px 35px 14px;
}
.contact-modal .modal-content {
    border-radius: 1px;
}
.contact-modal .close {
    position: absolute;
    right: 35px;
    top: 25px;
}
.contact-modal .modal-body {
    padding: 20px 35px 35px;
}
.hint-text {
    opacity: 0.8;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.modal-confirm {		
    color: #636363;
    width: 400px;
    margin: 30px auto;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}		
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}